:root{
    --text-color: #ffffff;
    --text-opacity: 70%;
    --btn-color: #ED1424;
    --btn-salati-color3: #E300CE;
    --btn-salati-color5: #1348FF;
    --btn-salati-color6: #00E340;
    --form-text-color: #0F2E4A;
    --input-text-color: #C9CFD8;
}